langchain
langchain-community
langchain-core
langchain-groq
pymupdf
python-dotenv
groq
openai
tiktoken
transformers
tokenizers
requests
numpy
pandas
PyPDF2
ipykernel
pytube
validators
youtube_transcript_api
unstructured
streamlit